@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  color: #333
}

ul{
  list-style: none;
  padding: 10px;
}

#login{
  padding: 20px;
  text-align: center;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login h1{}

#login span{
  font-size: 13px;
}

#login #inputName{
  height: 45px;
  width: 100%;
  max-width: 350px;
  margin-top: 10px;
  outline: none;
  padding: 0 10px;
  font-size: 16px;
  text-align: center;

}

#chatPage{
  flex-direction: column;
}

#chatPage .chat{
  display: flex;
  height: calc(100vh - 45px);
  flex-direction: row;
}

#chatPage .chat .right{
  padding: 20px 0;
  width: 100%;
  height: calc(100vh - 45px);
  overflow-y: scroll;
}

#chatPage .chat .right div p{
  margin-top: 100px;
}

#chatPage .chat .right .m-status{
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

#chatPage .chat .right .m-txt-me{
  display: flex;
  margin: auto 0 auto auto;
  flex-direction: column;
  background: rgb(115, 225, 183);
  max-width: 40%;
  min-width: 150px;
  border-radius: 5px;
  padding: 10px 10px;
  box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}

#chatPage .chat .right .m-txt-me .me{
  font-size: 12px;
  font-weight: bld;
  
}

#chatPage .chat .right .m-txt-not-me{
  display: flex;
  margin: auto auto auto 0;
  flex-direction: column;
  background: rgb(244, 239, 185);
  max-width: 40%;
  min-width: 150px;
  border-radius: 5px;
  padding: 10px 10px;
  box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}


#chatPage .chat .right .m-txt-not-me .not-me{
  font-size: 12px;
  font-weight: bld;
}


#chatPage .chat .userList{
  width: 250px;
  overflow-y: scroll;
}

@media (max-width: 700px) { 
  #chatPage .chat .userList{
    width: 90px;

  }
 }


.chatInput{
  height: 45px;
}

.chatInput #chatTextInput{
  width: 100%;
  height: 45px;
  font-size: 16px;
  outline: none;
  padding: 0 10px;
  border: 1px solid #ddd;
}